$adl: rgb(60, 210, 60);
$custom-background: #fbfff7;
$custom-title: #114232;
$custom-subtitle: #1e6e53;
$custom-button: #529f85;
$custom-footer: #42834e;

//Fonts

$poppins: "Poppins", sans-serif;
$la-belle: "La Belle Aurore", cursive;